<template>
  <div class="navbar">
    <div class="row w-100 justify-content-spacebetween">
      <div class="col-6 col-sm-6 col-md-6 col-lg-6">
        {{currentdate}}
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-6">
        <div class="row justify-content-end">
          Welcome,
          {{ this.user.adviser.gender_id == 1 ? 'Mr. ' : 'Ms. '}}
          {{this.user.adviser.last_name}}! 
          <router-link to="/admin/settings"><Avatar class="ml-2" :size="35" :username='this.user.adviser.last_name' :src='"http://127.0.0.1:8000/uploads/" + this.user.adviser.image'></Avatar></router-link>
          <!-- <img :src='"http://127.0.0.1:8000/uploads/" + this.user.adviser.image' alt="" class="ml-2 img-fluid" width="35"> -->
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import moment from 'moment'
import Avatar from 'vue-avatar'
export default {
  props: ['user'],
  mounted() {

  },
  components: { Avatar },
  computed: {
    currentdate: function(){
      var a = new Date();
      return moment(a).format('(ddd) MMMM D[,] YYYY'); 
    }
  },
  methods: {
   
  }
}
</script>