<template>
  <div id="app">
    <div class="">
      <div class="container-fluid p-0 m-0 w-100" style="height: 100vh">
        <div class="row m-0 h-100 align-items-center">
          <div class="col-12 h-100 col-sm-12 col-md-6 col-lg-6 hero-bg">
            <div class="d-flex flex-column landing-container">
              <img src="@/assets/images/lnulogo.png" alt="Lnu logo" width="120" class="img-fluid">
              <p class="heading mt-3">A better way to manage your trainees.</p>
              <p class="sub-heading">Manage and keep track <br/> of your student trainees easily.</p>
              <router-link to="/time/record" class="btn btn-sm btn-outline-light mt-2" style="max-width: 120px" v-if="active == 'student'">Attendance</router-link>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="text-primary text-center">Choose account type</h5>
            <div class="row justify-content-center text-center mt-3">
              <a href="" @click.prevent="setActive('teacher')" class="card-link">
              <div class="card p-4 mr-2 bg-card" :class="active == 'teacher' ? 'bg-card-active' : ''">
                <img src="@/assets/images/user_male.png" alt="" class="img-fluid card-image" width="160">
                <p class="text-center mt-2 font-weight-bold">Teacher</p>
              </div>
              </a>
              <a href="" @click.prevent="setActive('student')" class="card-link">
              <div class="card p-4 bg-card" :class="active == 'student' ? 'bg-card-active' : ''">
                <img src="@/assets/images/user_female.png" alt="" class="img-fluid card-image" width="160">
                <p class="text-center mt-2 font-weight-bold">Student</p>
              </div>
              </a>
            </div>
            <h5 class="mt-4 text-center">Hello, User!</h5>
            <h6 class="mt-1 text-center">Please fill-out the form to get started</h6>
            <form class="d-flex justify-content-center mt-3"> 
              <div class="col-6">
                <label for="email">{{active == 'teacher' ? 'Email Address' : 'Student Number'}}</label>
                <input type="text" v-model="data.email" class="form-control" placeholder="">
                <label for="email">Password</label>
                <input type="password" v-model="data.password" class="form-control" placeholder="">
                <p><small>No Account? <a href="" v-on:click.prevent="signup">Sign-up</a></small></p>
                <div class="row justify-content-end">
                  <button class="btn btn-sm btn-outline-primary mr-3" @click.prevent="login">Login</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
    data() {
      return {
        active: 'teacher',
        data: {
          email: '',
          password: '',
        }
      }
    },
    methods: {
      setActive(selected){
        this.active = selected
      },
      async login(){
        if(this.data.email.trim() == '')
          return this.$toast.error('Email is required');
        if(this.data.password.trim() == '')
          return this.$toast.error('Password is required');

        if(this.active == 'teacher'){
          const res = await this.$store.dispatch('auth/LogInUser', this.data)
          if(res.status == 200){
            this.data.email = ''
            this.data.password = ''
            this.$toast.success('Log-in successfully!')
            this.$router.push('/admin')
          }
          else {
            this.data.email = ''
            this.data.password = ''
            this.$toast.error('Credentials incorrect')
          }
        }
        if(this.active == 'student'){
          const res = await this.$store.dispatch('auth/StudentLogin', this.data)
          if(res.status == 200){
            this.data.email = ''
            this.data.password = ''
            this.$toast.success('Log-in successfully!')
            this.$router.push('/student')
          }
          else {
            this.data.email = ''
            this.data.password = ''
            this.$toast.error('Credentials incorrect')
          }
        }
      },
      signup(){
        if(this.active == 'teacher'){
          this.$router.push({name: 'Teacher Signup'})
        }
      }
    },
    mounted() {
      document.title = 'Welcome, Please login - OJT Monitoring System'

    }
}
</script>