<template>
  <div>
    <div class="container">
      <h4 class="pt-5 ml-2 font-weight-bold text-primary">Attendance Record</h4>
      <p class="ml-2 text-muted">All of your attendance record will be displayed here.</p>
      <p class="ml-2  mt-5"><small>If you haven't timed-in yet this day, click <router-link to="/time/record">here.</router-link ></small></p> 
      <div class="row ml-2 mr-2 p-4 mb-3 card">
        <div class="table-responsive">
          <table class="table table-striped">
            <caption>Your attendance record</caption>
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Time in</th>
                <th scope="col">Time out</th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="attendance.length == 0" >
                <td colspan="4" class="text-center pt-3"> No Records found</td>
              </tr>
              <tr v-for="(att, i) in attendance.student.attendance" :key="i">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ att.date }}</td>
                <td>{{ att.time_in }}</td>
                <td>{{ att.time_out }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import {mapGetters} from 'vuex';
export default {
  mounted(){
    document.title = 'Student Attendance'
    this.getUser()
    setTimeout(()=> {
      this.$store.dispatch('student_attendance/getData')
    },250)
  },
  methods: {
    async getUser(){
      const res = await this.$store.dispatch('auth/checkStudentUser');
      if(res.status == 200){
        this.user = this.$store.getters['auth/getStudentUser'];
      }
      else {
        this.$router.push('/');
        localStorage.removeItem('auth')
      }
    }
  },
  computed: {
    ...mapGetters({
      attendance: 'student_attendance/getAttendance'
    })
  }

}
</script>