<template>
  <div>
    <Navbar :user="user" />
    <Sidebar />
     <div class="content-container">
      <router-view name="settings" :user='user' />
      <router-view name="activities"/>
      <router-view name="attendance"/>
    </div>
  </div>
</template>
<script>
import Navbar from '@/components/navigations/student/Navbar'
import Sidebar from '@/components/navigations/student/Sidebar'
export default {
  data() {
    return {
      user: ''
    }
  },
  components: {
    Navbar, Sidebar
  },
  mounted(){
    this.getUser();
    if(!localStorage.getItem('auth')){
      this.$router.push('/');
      localStorage.removeItem('logged_in_student')
    }
  },
  methods: {
    async getUser(){
      const res = await this.$store.dispatch('auth/checkStudentUser');
      if(res.status == 200){
        this.user = this.$store.getters['auth/getStudentUser'];
      }
      else {
        this.$router.push('/');
        localStorage.removeItem('auth')
      }
    }
  }
}
</script>