<template>
  <div id="app">
    <SideBar />
    <Navbar :user='user' />
    <div class="content-container">
      <router-view name="settings" :user='user' />
      <router-view name="students"/>
      <router-view name="attendance"/>
    </div>
  </div>
</template>
<script>
import SideBar from '@/components/navigations/Sidebar.vue'
import Navbar from '@/components/navigations/Navbar.vue'
export default {
  data(){
    return {
      user: '',
    }
  },
  components: { SideBar, Navbar },
  mounted(){
    this.getUser();
    setTimeout(() => {
      this.$router.push('/admin/students')
    }, 250)
  },
  methods: {
    async getUser(){
      const res = await this.$store.dispatch('auth/checkUser');
      if(res.status == 200){
        this.user = this.$store.getters['auth/getUser'];
      }
    }
  }
}
</script>