<template>
  <div id="app">
    <div class="container-fluid">
      <h4 class="pt-5 ml-2 font-weight-bold text-primary">Student Attendance</h4>
			<p class="ml-2 text-muted">Student attendance are displayed here.</p>
      <div class="row justify-content-end ml-2 mr-2 mb-3">
        <div class="col-3 col-md-3 col-lg-2">
          <p class="">Section</p>
          <select class="form-control custom-select" v-model="data.section_id" @change="sectionChange($event)" id="section-select">
            <option class="mr-3" v-for="(sec, i) in section" :key="i" :value="sec.id">{{sec.section}}</option>
          </select>
        </div>
        <div class="col-3 col-md-3 col-lg-2">
          <p class="">Semester</p>
          <div class="input-group">
            <select class="form-control custom-select" v-model="data.semester_id" @change="semesterChange($event)" id="section-select">
              <option class="mr-3" v-for="(sem, i) in semester" :key="i" :value="sem.id">{{sem.semester}}</option>
            </select>
          </div>
        </div>
        <div class="col-3 col-md-3 col-lg-2">
          <p class="">School Year</p>
          <div class="input-group">
            <select class="form-control custom-select" v-model="data.school_year_id" @change="schoolyrChange($event)" id="section-select">
              <option class="mr-3" v-for="(schlyr, i) in schoolyr" :key="i" :value="schlyr.id">{{schlyr.school_year}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row ml-2 mr-2 p-4 mb-3 mt-5 card">
        <div class="row justify-content-end ml-2 mr-2 mb-2">
          <div class="col-5 col-md-4 col-lg-3">
						<input type="text" v-model="search" id="searchbox" class="form-control mb-2" placeholder="Search Student"/>
					</div>
          <button class="btn btn-sm btn-primary mr-2 mb-3" v-if="isView" v-on:click.prevent="isView = false">Return</button>
          <div class="table-responsive" v-if="!isView">
            <table class="table table-striped">
              <caption>List of students</caption>
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Full Name</th>
                  <th scope="col">Gender</th>
                  <th scope="col">Total hours</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(att, i) in filterStudent" :key="i">
                  <th scope="row">{{ att.id }}</th>
                  <td>{{att.last_name}}, {{att.first_name}} {{att.middle_name[0]}}.</td>
                  <td>{{att.gender.gender}}</td>
                  <td></td>
                  <td>
                    <button class="btn btn-sm btn-success mr-2" v-on:click.prevent="setViewRecord(att)">View Records</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="table-responsive" v-else>
            <table class="table table-striped">
              <caption>List of students</caption>
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Date</th>
                  <th scope="col">Time in</th>
                  <th scope="col">Time out</th>
                </tr>
              </thead>
              <tbody>
                <tr v-if="attendance_data.attendance.length == 0" >
                  <td colspan="4" class="text-center pt-3"> No Records found</td>
                </tr>
                <tr v-for="(att, i) in attendance_data.attendance" :key="i">
                  <th scope="row">{{ att.student_id }}</th>
                  <td>{{att.date}}</td>
                  <td>{{att.time_in}}</td>
                  <td>{{att.time_out}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState, mapActions, mapGetters } from 'vuex'
import moment from 'moment'
export default {
  mounted(){
    document.title = "Students Attendance"
		this.$store.dispatch('auth/checkUser');
		this.$store.dispatch('sem/getSchoolYear');
		this.$store.dispatch('sem/getSemester');
    this.data = this.default_data
		this.getSections(this.data);
    this.$store.dispatch('attendance/getStudentAttendanceRecord', this.data)
    this.$root.$on('bv::modal::show', (bvEvent, modalId) => {
      this.modalId = modalId;
    })
  },
  data(){
    return {
      data: {
				section_id: '',
				semester_id: '',
				school_year_id: '',
			},
      isView: false,
      attendance_data: '',
      search: '',
    }
  },
  computed: {
		...mapState('student', ['section', 'student']),
		...mapState('sem', ['semester', 'schoolyr']),
		...mapGetters({
			default_data: 'sem/getDefaults'
		}),
		...mapGetters({
			attendance: 'attendance/getStudentAttendance'
		}),
    filterStudent() {
      return this.attendance.filter((attendance) => {
        return (
          attendance.last_name.match(this.search) ||
          attendance.first_name.match(this.search) ||
          attendance.middle_name.match(this.search) ||
					attendance.id.toString().match(this.search)
        );
      });
    },
	},
  methods: {
		...mapActions('student', ['getSections', 'saveSection', 'deleteSec', 'updateSec', 'saveStudent', 'deleteStudent', 'getStudents', 'updateStud']),
    sectionChange(event){
			this.$store.commit('sem/SET_DEFAULTS', this.data)
			this.$store.dispatch('attendance/getStudentAttendanceRecord', this.data)
		},
    setViewRecord(att){
      this.isView = true
      this.attendance_data = att

    },
		semesterChange(event){
			this.$store.commit('sem/SET_DEFAULTS', this.data)
			this.$store.dispatch('attendance/getStudentAttendanceRecord', this.data)
			this.getSections(this.data);
		},
		schoolyrChange(event){
			this.$store.commit('sem/SET_DEFAULTS', this.data)
			this.$store.dispatch('attendance/getStudentAttendanceRecord', this.data)
			this.getSections(this.data);
		},
    setTotal(att){
      let total = 0
      for(let i = 0; i < att.length; i++){
        total = moment.subtract(att[i].time_in, att[i.time_out]);
      }
      return total;
    },
  }
}
</script>