<template>
  <div>
    <div class="container p-4">
      <div class="row h-100 justify-content-between ml-3 mr-3">
        <div class="col-12 col-sm-11 col-md-5 col-lg-4">
          <h4 class="">Profile Picture</h4>
          <p class="mb-2 text-muted"><small>You can upload your profile picture here.</small></p>
          <VueFileAgent
            ref="vueFileAgent"
            :theme="'list'"
            :multiple="false"
            :deletable="true"
            :meta="true"
            :accept="'image/*,.zip'"
            :maxSize="'5MB'"
            :maxFiles="1"
            :helpText="'Choose an image'"
            v-b-tooltip.hover title="To save your changes click the Save Changes button"
            :errorText="{
              type: 'Invalid file type. Only images or zip Allowed',
              size: 'Files should not exceed 5MB in size',
            }"
            @select="filesSelected($event)"
            @beforedelete="onBeforeDelete($event)"
            @delete="fileDeleted($event)"
            v-model="fileRecords"
          ></VueFileAgent>
        </div>
        <div class="col-12 col-sm-11 col-md-7 col-lg-7">
          <form class="d-flex flex-column justify-content-center mt-1"> 
            <h4 class="">Personal Informations</h4>
            <p class="mb-2 text-muted"><small>Here is your personal information.</small></p>
            <div class="row">
              <div class="col">
                <label for="firstname">First Name</label>
                <input type="text" v-model="user.adviser.first_name" class="form-control" placeholder="Juan" id="firstname">
              </div>
              <div class="col">
                <label for="middlename">Middle Name</label>
              <input type="text" v-model="user.adviser.middle_name" class="form-control" placeholder="Dela Cruz" id="middlename">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="lastname">Last Name</label>
                <input type="text" v-model="user.adviser.last_name" class="form-control" placeholder="Durante" id="lastname">
              </div>
              <div class="col">
                <label for="department">Department</label>
                <input type="text" v-model="user.adviser.department" class="form-control" placeholder="Probinsya" id="department">
              </div>
            </div>
            <div class="row">
              <div class="col">
              <label for="gender">Gender</label>
              <select v-model="user.adviser.gender_id" class="form-control custom-select" placeholder="" id="gender">
                <option disabled selected>Please select a gender</option>
                <option v-for="(g, i) in gender" :key="i" :value="g.id">{{g.gender}}</option>
              </select>
              </div>
              <div class="col">
              </div>
            </div>

            <h4 class=" mt-4">Security</h4>
            <p class="mb-2 text-muted"><small>Changing informations will require you to enter your password.</small></p>
            <div class="row">
              <div class="col">
                <label for="firstname">Email Address</label>
                <input type="text" v-model="user.email" class="form-control" placeholder="" id="firstname">
              </div>
              <div class="col">
                <label for="middlename">Current Password</label>
              <input type="password" v-model="user.cpass" class="form-control" placeholder="" id="middlename">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="firstname">New Password</label>
                <input type="password" v-model="user.newpass" class="form-control" placeholder="" id="firstname">
              </div>
              <div class="col">
                <label for="middlename">Confirm Password</label>
              <input type="password" v-model="user.confirm_newpass" class="form-control" placeholder="" id="middlename">
              </div>
            </div>
          </form>
          <div class="row justify-content-end mr-1 mt-3">
            <button class="btn btn-sm btn-outline-primary" v-on:click.prevent="saveChanges">Save Changes</button>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  data() {
    return {
      isNext: false,
      fileRecords: [],
      uploadUrl: 'http://127.0.0.1:8000/api/adviser/uploadImage',
      uploadHeaders: { 'X-Test-Header': 'vue-file-agent' },
      fileRecordsForUpload: [], 
      isValidated: false,
    }
  },
  props: ['user'],
  mounted() {
    this.$store.dispatch('user/getGender')
  },
  computed: {
    ...mapGetters({
      gender: 'user/getGender'
    }),
  },
  methods: {
     filesSelected: function(fileRecordsNewlySelected) {
      var validFileRecords = fileRecordsNewlySelected.filter(
        (fileRecord) => !fileRecord.error
      );
      this.fileRecordsForUpload = this.fileRecordsForUpload.concat(
        validFileRecords
      );
    },
    fileDeleted: function(fileRecord) {
      var i = this.fileRecordsForUpload.indexOf(fileRecord);
      if (i !== -1) {
        this.fileRecordsForUpload.splice(i, 1);
      }
    },
    onBeforeDelete: function(fileRecord) {
      var i = this.fileRecordsForUpload.indexOf(fileRecord);
      if (i !== -1) {
        this.fileRecordsForUpload.splice(i, 1);
        var k = this.fileRecords.indexOf(fileRecord);
        if (k !== -1) this.fileRecords.splice(k, 1);
      }
    },
    async saveChanges(){
      this.validateFields();

      //Check if validated
      if(this.isValidated){

        //Check if has image
        if(this.fileRecordsForUpload.length > 0){
          const res_image = await this.$refs.vueFileAgent.upload(
            `http://127.0.0.1:8000/api/adviser/uploadImage?token=` +
              localStorage.getItem("auth"),
            { "x-csrf-token": this.token, "X-Requested-With": "XMLHttpRequest" },
            this.fileRecordsForUpload
          );
          console.log('RES', res_image)
          this.user.image = res_image[0].data
        }

        let data = {
          first_name: this.user.adviser.first_name,
          middle_name: this.user.adviser.middle_name,
          last_name: this.user.adviser.last_name,
          gender_id: this.user.adviser.gender_id,
          department: this.user.adviser.department,
          email: this.user.email,
          image: this.user.image,
        }

        const res = await this.$store.dispatch('user/updateUser', data)
        if(res.status == 200){
          this.$toast.success('Your information was updated successfully!')
        }
      }
    },
    validateFields(){
      this.isValidated = false
      if(this.user.adviser.first_name == '')
        return this.$toast.error('First name is required')
      if(this.user.adviser.middle_name == '')
        return this.$toast.error('Middle name is required')
      if(this.user.adviser.last_name == '')
        return this.$toast.error('Last name is required')
      if(this.user.adviser.department == '')
        return this.$toast.error('Department is required')
      if(this.user.adviser.gender_id == '')
        return this.$toast.error('Gender is required')
      if(this.user.email == '')
        return this.$toast.error('Gender is required')

      this.isValidated = true
    }
  }
}
</script>