<template>
	<div id="app">
		<div class="container-fluid">
      <h4 class="pt-5 ml-2 font-weight-bold text-primary">Student Record</h4>
			<p class="ml-2 text-muted">Here are the list of your students.</p>
			<div class="row justify-content-end ml-2 mr-2 mb-3">
				<button class="btn btn-summary btn-primary text-light mb-0" v-on:click.prevent="$bvModal.show('addStudentModal')">Add Student</button>
				<div class="col-3 col-md-3 col-lg-2">
					<p class="">Section</p>
          <div class="input-group">
						<select class="form-control custom-select" v-model="data.section_id" @change="sectionChange($event)" id="section-select">
							<option class="mr-3" v-for="(sec, i) in section" :key="i" :value="sec.id">{{sec.section}}</option>
						</select>
            <div class="input-group-append">
							<b-button variant="primary" size="sm" v-b-tooltip title="Manage your sections" v-on:click.prevent="$bvModal.show('manageSectionModal')" type="button">Manage</b-button>
            </div>
          </div>
				</div>
				<div class="col-3 col-md-3 col-lg-2">
					<p class="">Semester</p>
          <div class="input-group">
						<select class="form-control custom-select" v-model="data.semester_id" @change="semesterChange($event)" id="section-select">
							<option class="mr-3" v-for="(sem, i) in semester" :key="i" :value="sem.id">{{sem.semester}}</option>
						</select>
          </div>
				</div>
				<div class="col-3 col-md-3 col-lg-2">
					<p class="">School Year</p>
          <div class="input-group">
						<select class="form-control custom-select" v-model="data.school_year_id" @change="schoolyrChange($event)" id="section-select">
							<option class="mr-3" v-for="(schlyr, i) in schoolyr" :key="i" :value="schlyr.id">{{schlyr.school_year}}</option>
						</select>
          </div>
				</div>
			</div>
			<div class="row ml-2 mr-2 p-4 mb-4 card">
				<div class="row justify-content-end">
					<div class="col-5 col-md-4 col-lg-3">
						<input type="text" v-model="search" id="searchbox" class="form-control mb-2" placeholder="Search Student"/>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table table-striped">
						<caption>List of students</caption>
						<thead>
							<tr>
								<th scope="col">ID</th>
								<th scope="col">First Name</th>
								<th scope="col">Middle Name</th>
								<th scope="col">Last Name</th>
								<th scope="col">Gender</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(stud, i) in filterStudent" :key="i">
								<th scope="row">{{stud.id}}</th>
								<td>{{stud.first_name}}</td>
								<td>{{stud.middle_name}}</td>
								<td>{{stud.last_name}}</td>
								<td>{{stud.gender.gender}}</td>
								<td>
									<button class="btn btn-sm btn-success mr-2" v-on:click.prevent="student_data = {...stud}; index = stud.id; $bvModal.show('updateStudentModal');">Update</button>
									<button class="btn btn-sm btn-danger" v-on:click.prevent="delStudent(stud.id)">Delete</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<!--- ADD STUDENT MODAL --->
		<b-modal id="addStudentModal" size="lg" centered title="Add Student">
			<form>
				<div class="row">
					<div class="col">
						<label for="studentid">Student ID</label>
						<input type="text" id="studentid" v-model="student_data.id" class="form-control" placeholder="1800xxx" required>
					</div>
					<div class="col">
						<label for="middle">Section</label>
						<select class="form-control custom-select" id="section" v-model="student_data.section_id">
							<option class="mr-3" v-for="(sec, i) in section" :key="i" :value="sec.id">{{sec.section}}</option>
						</select>
					</div>
					<div class="col">
						<label for="gender">Gender</label>
						<select class="form-control custom-select" id="gender" v-model="student_data.gender_id">
							<option class="mr-3" value="1">Male</option>
							<option class="mr-3" value="2">Female</option>
						</select>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col">
						<label for="firstname">First Name</label>
						<input type="text" id="firstname" v-model="student_data.first_name" class="form-control" placeholder="First name" required>
					</div>
					<div class="col">
						<label for="middle">Middle Name</label>
						<input type="text" id="middlename" v-model="student_data.middle_name" class="form-control" placeholder="Middle name" required>
					</div>
					<div class="col">
						<label for="lastnamr">Last Name</label>
						<input type="text" id="lastname" v-model="student_data.last_name" class="form-control" placeholder="Last name" required>
					</div>
				</div>
			</form>
			<p class="mt-3"><small>Note: A student by default will have its student id and surname as password for his/her account.</small></p>
			<template #modal-footer="{ cancel }">
				<b-button variant="info" @click="cancel()"> Close </b-button>
				<b-button variant="success" @click="storeStudent"> Save </b-button>
			</template>
		</b-modal>

		<!--- UPDATE STUDENT MODAL --->
		<b-modal id="updateStudentModal" size="lg" centered title="Update Student">
			<form>
				<div class="row">
					<div class="col">
						<label for="studentid">Student ID</label>
						<input type="text" id="studentid" v-model="student_data.id" class="form-control" placeholder="1800xxx" required>
					</div>
					<div class="col">
						<label for="middle">Section</label>
						<select class="custom-select" id="section" v-model="student_data.section_id">
							<option class="mr-3" v-for="(sec, i) in section" :key="i" :value="sec.id">{{sec.section}}</option>
						</select>
					</div>
					<div class="col">
						<label for="gender">Gender</label>
						<select class="form-control custom-select" id="gender" v-model="student_data.gender_id">
							<option class="mr-3" value="1">Male</option>
							<option class="mr-3" value="2">Female</option>
						</select>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col">
						<label for="firstname">First Name</label>
						<input type="text" id="firstname" v-model="student_data.first_name" class="form-control" placeholder="First name" required>
					</div>
					<div class="col">
						<label for="middle">Middle Name</label>
						<input type="text" id="middlename" v-model="student_data.middle_name" class="form-control" placeholder="Middle name" required>
					</div>
					<div class="col">
						<label for="lastnamr">Last Name</label>
						<input type="text" id="lastname" v-model="student_data.last_name" class="form-control" placeholder="Last name" required>
					</div>
				</div>
			</form>
			<p class="mt-3"><small>Note: A student by default will have its student id and surname as password for his/her account.</small></p>
			<template #modal-footer="{ cancel }">
				<b-button variant="info" @click="cancel()"> Close </b-button>
				<b-button variant="success" @click="updateStudent"> Save </b-button>
			</template>
		</b-modal>


		<!--- SECTION MODAL --->
		<b-modal id="manageSectionModal" centered title="Sections">
			<p>Here are the list of your sections</p>
			<div class="input-group mb-3">
				<input type="text" class="form-control" v-model="section_data.section" @keydown.enter="storeSection" placeholder="Section" aria-label="Enter a section" aria-describedby="basic-addon2">
				<div class="input-group-append">
					<button class="btn btn-success" type="button" v-b-tooltip title="You can also press enter to save a section" v-on:click.prevent="storeSection" id="btnSaveSection"> Save </button>
				</div>
			</div>
			<div class="table-responsive">
					<table class="table table-striped">
						<caption>List of sections</caption>
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Section</th>
								<th scope="col">Options</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(sec, i) in section" :key="i">
								<th scope="row">{{i + 1}}</th>
								<td>
								{{sec.section}}
								</td>
								<td>
									<button :id="'btn' + sec.id" class="btn btn-sm btn-secondary mr-2" v-on:click.prevent="setUpdateSection(sec, i)">Update</button>
									<button class="btn btn-sm btn-danger" v-on:click.prevent="deleteSection(sec.id)">Delete</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<p><small>Note: Deleting a section will delete all students under that section.</small></p>
				<template #modal-footer="{ cancel }">
					<b-button size="sm" variant="info" @click="cancel()"> Close </b-button>
				</template>
    </b-modal>

		<!--- UPDATE SECTION MODAL --->
		<b-modal id="updateSectionModal" size="sm" centered title="Sections">
			<p>Please enter a new value</p>
			<input type="text" v-model="update_data.section" class="form-control">
			<template #modal-footer="{ cancel }">
				<b-button size="sm" variant="info" @click="cancel()"> Cancel </b-button>
				<b-button size="sm" variant="success" v-on:click="updateSection">
          Update Section
        </b-button>
			</template>
    </b-modal>

		<!--- DELETE STUDENT CONFIRM MODAL --->
		<b-modal id="deleteStudentModal" size="sm" centered title="Message">
			<p>Are you sure you want to delete this student?</p>
			<template #modal-footer="{ cancel }">
				<b-button size="sm" variant="info" @click="cancel()"> Cancel </b-button>
				<b-button size="sm" variant="success" v-on:click="confirmDelete()">
          Yes
        </b-button>
			</template>
    </b-modal>
	
	</div>
</template>
<script>
import { mapState, mapActions, mapGetters } from 'vuex'
export default {
	async mounted(){
		document.title = "Students List"
		this.$store.dispatch('auth/checkUser');
		this.$store.dispatch('sem/getSchoolYear');
		this.$store.dispatch('sem/getSemester');
		this.data = this.default_data
		this.getSections(this.data);
		this.getStudents(this.data);
		this.$root.$on('bv::modal::show', (bvEvent, modalId) => {
      this.modalId = modalId;
    })

	},
	data(){
		return {
			section_data: {
				section: '',
				instructor_id: ''
			},
			data: {
				section_id: '',
				semester_id: '',
				school_year_id: '',
			},
			student_data: {
				first_name: '', 
				middle_name: '', 
				last_name: '', 
				id: '', 
				section_id: '', 
				gender_id: '',
			},
			update_data: '',
			index: '',
			isUpdate: false,
			modalId: '',
			search: '',
		}
	},
	computed: {
		...mapState('student', ['section', 'student']),
		...mapState('sem', ['semester', 'schoolyr']),
		...mapGetters({
			default_data: 'sem/getDefaults'
		}),
		filterStudent() {
      return this.student.filter((student) => {
        return (
          student.last_name.match(this.search) ||
          student.first_name.match(this.search) ||
          student.middle_name.match(this.search) ||
					student.id.toString().match(this.search)
        );
      });
    },
	},
	methods: {
		...mapActions('student', ['getSections', 'saveSection', 'deleteSec', 'updateSec', 'saveStudent', 'deleteStudent', 'getStudents', 'updateStud']),
		delStudent(id){
			this.index = id
			this.$bvModal.show('deleteStudentModal');
		},
		async confirmDelete(){
			const res = await this.deleteStudent(this.index);
			if(res.status == 200){
				this.showSuccess('Student deleted successfully!');
			}
			this.index = ''
		},
		async storeStudent(){
			let stud_data = {
					first_name: this.student_data.first_name, 
					middle_name: this.student_data.middle_name, 
					last_name: this.student_data.last_name, 
					id: this.student_data.id, 
					section_id: this.student_data.section_id, 
					gender_id: this.student_data.gender_id,
					semester_id: this.data.semester_id,
					school_year_id: this.data.school_year_id,
			}

			const res = await this.saveStudent(stud_data);
			if(res.status == 200){
				this.clearFields()
				this.getStudents(this.data);
				this.showSuccess('Student saved successfully!')
			}
			else {
				this.$toast.error('Something went wrong')
			}
		},
		async updateStudent(){
			let stud_data = {
					first_name: this.student_data.first_name, 
					middle_name: this.student_data.middle_name, 
					last_name: this.student_data.last_name, 
					id: this.student_data.id, 
					section_id: this.student_data.section_id, 
					gender_id: this.student_data.gender_id,
					semester_id: this.data.semester_id,
					school_year_id: this.data.school_year_id,
			}
			const res =  await this.updateStud({id: this.index, data: stud_data});
			if(res.status == 200){
				this.clearFields()
				this.getStudents(this.data);
				this.showSuccess('Student updated successfully!')
			}
			else {
				this.$toast.error('Something went wrong')
			}
		},
		async storeSection(){
			let secdata = {
				section: this.section_data.section,
				instructor_id: this.section_data.instructor_id,
				semester_id: this.data.semester_id,
				school_year_id: this.data.school_year_id
			}

			if(this.section_data.section.trim() == '')
				return this.$toast.error('Section field is empty');
			if(this.data.semester_id == '')
				return this.$toast.error('Please select a semester');
			if(this.data.school_year_id == '')
				return this.$toast.error('Please select a school year');

			const res = await this.saveSection(secdata);
			if(res.status == 200){
				this.section_data.section = ''
				this.$toast.success('Section saved successfully!')
			}
			else {
				return this.$toast.error('Something went wrong');

			}
		},
		async deleteSection(id){
			const res = await this.deleteSec(id)
			if(res.status == 200){
				
				this.$toast.success('Section deleted successfully!')
			}
		},
		setUpdateSection(section, i){
			this.update_data = {...section}
			this.index = i
			this.$bvModal.show('updateSectionModal')
		},
		async updateSection(){
			const res = await this.updateSec({index: this.index, data: this.update_data})
			if(res.status == 200){
				this.showSuccess('Section updated successfully!')
			}
			else {
				this.$toast.error('Something went wrong!')
			}
		},	
		showSuccess(msg){
			this.$bvModal.hide(this.modalId)
			this.$toast.success(msg)
		},
		clearFields() {
			this.student_data = {
				first_name: '', 
				middle_name: '', 
				last_name: '', 
				id: '', 
				section_id: '', 
				component_id: '',
				gender: '',
			}
		},
		sectionChange(event){
			this.$store.commit('sem/SET_DEFAULTS', this.data)
			this.getStudents(this.data);
		},
		semesterChange(event){
			this.$store.commit('sem/SET_DEFAULTS', this.data)
			this.getStudents(this.data);
			this.getSections(this.data);
		},
		schoolyrChange(event){
			this.$store.commit('sem/SET_DEFAULTS', this.data)
			this.getStudents(this.data);
			this.getSections(this.data);
		},
		validateFields(){
			if(this.data.semester_id == '')
				return this.$toast.error('Please select a semester');
			if(this.data.school_year_id == '')
				return this.$toast.error('Please select a school year');
		}
		
	}
}
</script>
