@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

html, body {
  line-height: 1.9rem !important;
  font-family: 'Open Sans', sans-serif !important;
}

p, h1, h2, h3, h4, h5, h6, label {
  margin-bottom: 0 !important;
}

.hero-bg {
  background: linear-gradient(90deg, rgba(63, 99, 198, 0.715), rgba(118, 135, 178, 0.462)), url('./images/herobg.jpg');
  height: 100%;
  width: 100%;
  background-size: cover;
  position: relative;
}

.hero {
  background: linear-gradient(to bottom, rgba(19, 54, 143, 0.91), rgba(37, 46, 70, 0.71)), url('./images/herobg.jpg');
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
}

.bg-card {
  background-color: rgba(88, 118, 195, 0.31);
  padding: 1.5rem 2.3rem !important;
  border: 0 none !important ;
}

.bg-card-active {
  border: 1px solid #376FC3 !important;
  box-shadow: 0 0 10px 1px #2695df93;
}

.card-image {
  width: 130px;
  transform: all 250ms;
  transition: all 250ms;
}

.heading {
  font-size: 2rem;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 2.5rem;
}

.sub-heading {
  margin-top: .6rem;
  line-height: 1.3rem;
  color: white;
  font-size: 1rem;
  font-style: italic;
  width: 350px;
}

.landing-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -60%);
}

.btn-outline-primary {
  border: 1px solid #376FC3 !important;
}

.form-control {
  border: 1px solid #376FC3 !important;
}

.content-container {
  margin-left: 245px;
  margin-top: 80px;
}

.card-link:hover {
  text-decoration: none;
  color: #070707;
}


/** SIDEBAR **/
.sidebar {
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  top: 0;
  left: 0;
  height: 100vh;
  width: 230px;
  background-image: linear-gradient(to bottom, rgba(34, 77, 184, 0.719), #335ECD);
}

.sidebar-logo{
  padding-top: 50px;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 2.2rem;
}

.sidebar a:nth-child(6){
  margin-top: 30%;
}

.sidebar a {
  display: block;
  color: white;
  padding: 1rem;
}

.sidebar a:hover{
  background-color: rgba(101, 109, 128, 0.733);
  text-decoration: none;
}

.sidebar a img {
  margin-right: .5rem;
  margin-left: 1.4rem;
  color: white;
}

.active {
  background-color: rgba(101, 109, 128, 0.856);
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  background-color: rgb(235, 212, 5);
  width: .5rem;
  height: .5rem;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: 0 0 10px 1px #dbf10c93;
  right: 5%;
}

.btn-summary{
  height: 100%;
  align-self: center;
  margin-top: 20px;
}

/** NAVBAR **/
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  height: 60px;
  z-index: 999;
  background-color: white;
  width: calc(100% - 230px);
  box-shadow: 0 0px 10px rgba(36, 36, 35, 0.418);
}

/** TIME RECORD SECTION **/
.time {
  font-size: 3.8rem;
  font-weight: 600;
  color: white;
  line-height: 4rem;
}

.date {
  font-size: 1.8rem;
  font-weight: 400;
  color: white;
}

.heading-record {
  color: white;
  font-size: 3.5rem;
  font-weight: 300;
}

.heading-record-secondary {
  color: white;
  font-weight: 200;
  line-height: 1.2rem;
}

.recent {
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.recent::-webkit-scrollbar {
  display: none;
}
