<template>
  <div class="navbar">
    <div class="row w-100 justify-content-spacebetween">
      <div class="col-6 col-sm-6 col-md-6 col-lg-6">
        {{currentdate}}, {{time}}
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-6">
        <div class="row justify-content-end">
          Welcome,
          {{ this.user.student.gender_id == 1 ? 'Mr. ' : 'Ms. '}}
          {{this.user.student.last_name}}! 
          <router-link to="/admin/settings"><Avatar class="ml-2" :size="35" :username='this.user.student.last_name' :src='"http://127.0.0.1:8000/uploads/" + this.user.student.image'></Avatar></router-link>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import moment from 'moment'
import Avatar from 'vue-avatar'
export default {
  data() {
    return {
      time: '',
    }
  },
  props: ['user'],
  mounted() {
    setInterval(() => {
      this.currenttime()
    }, 1000)
  },
  components: { Avatar },
  computed: {
    currentdate: function(){
      var a = new Date();
      return moment(a).format('(ddd) MMMM D[,] YYYY'); 
    },
  },
  methods: {
    currenttime: function(){
      var a = new Date();
      this.time = moment(a).format('hh:mm:ss A'); 
    }
  }
}
</script>