<template>
  <div>
    <div class="sidebar">
      <img src="@/assets/images/lnulogo.png" alt="" class="img-fluid sidebar-logo" width="120">

      <router-link to="/student/attendance" :class="getRoute == '/student/attendance' ? 'active' : ''">
        <img src="@/assets/images/file-alt-solid.svg" alt="" class="img-fluid" width="20">
        Attendance
      </router-link>
      <router-link to="/student/activities" :class="getRoute == '/student/activities' ? 'active' : ''">
        <img src="@/assets/images/clipboard-list-solid.svg" alt="" class="img-fluid" width="20">
        Activities
      </router-link>
      <router-link to="/student/settings" :class="getRoute == '/student/settings' ? 'active' : ''">
        <img src="@/assets/images/cog-solid.svg" alt="" class="img-fluid" width="20">
        Settings
      </router-link>
      <a href="" v-on:click.prevent="$bvModal.show('logoutModal')">
        <img src="@/assets/images/times-circle-solid.svg" alt="" class="img-fluid" width="20">
        Logout
      </a>
    </div>

     <!-- logoutModal -->
    <b-modal id="logoutModal" title="Logout" centered>
      <template>
        <p>Are you sure you want to logout?</p>
      </template>
      <template #modal-footer="{ cancel }">
        <b-button size="sm" variant="danger" @click="cancel()">
          Cancel
        </b-button>
        <b-button size="sm" variant="primary" @click="logout">
          Logout
        </b-button>
      </template>
    </b-modal>
  </div>
</template>
<script>
export default {
  methods: {
    async logout(){
      const res = await this.$store.dispatch('auth/logoutUser')
      if(res.status == 200){
        this.$router.push('/')
      }
    }
  },
  computed: {
    getRoute() {
      return this.$route.path;
    }
  }
}
</script>